.DividerStyle {
    margin-bottom: 15px !important;
    color: #4c4c4c !important
}

.GetTokensBtn {
    margin-right: 15px !important;
    color: white !important;
    background-color: rgb(31, 76, 142) !important;
    font-weight: bold !important;
    font-size: 18px;
}

.SunbmitBtn {
    color: white !important;
    background-color: rgb(31, 76, 142) !important;
    font-weight: bold !important;
    font-size: 18px;
}

.DataDisplayBox {
    border: solid 1px #eaeaea;
    border-radius: 4px;
    margin-top: 25px;
    overflow-y: scroll;
    height: 600px;
    width: 985px;
    padding: 5px;
}

.MainTextTokenBox {
    margin-top: 25px;
    border: solid 0px red;
}

.MainHomeBox {
    margin: auto
}

.UploadIcon {
    color: rgb(31, 76, 142) !important;
    margin-bottom: 6px;
}

.GetUrlBox {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    border: solid 1px #c1c1c1;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
}

.StartInstruction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
}

.MainTwoButtons {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    width: 600px;
}

.GetFileBox {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: solid 1px #c1c1c1;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
}

.SUbmitBtnBox {
    justify-content: right;
    align-items: right;
    display: flex;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid black;
}

td {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    padding: 15px;
}